version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www # Proje kodlarını senkronize et
      - /var/www/node_modules # <--- YENİ EKLENEN SATIR (Hızlandırıcı)
    working_dir: /var/www
    depends_on:
      - mysql
    ports:
      - '8000:8000' # Laravel
      - '5173:5173' # Vite DEV SERVER

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: fullstack_application_case
      MYSQL_USER: case_user
      MYSQL_PASSWORD: case_password
      MYSQL_ROOT_PASSWORD: root
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
